{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Policies</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>
<body class="body" id="style-2" style="overflow-x:hidden ;">
    <div class="ad-view">
        <div class="ad">
            <h3 style="background-color: #1a1a1a;"></h3>
            <h1 style="position: absolute;top: 25px;right: 25px;width: 30px;height: 30px;border-radius: 5px;background-color: rgb(161, 44, 44);color: white;display: flex;justify-content: center;align-items: center;font-size: 18px;cursor: pointer;" onclick="closeAd()"><i class="fa-solid fa-xmark"></i></h1>
            <img src="{% static 'images/bebuilder-meet-the-bebuilder.webp' %}" alt="" class="adImg">
            <div class="details" style="display: flex;width: 100%;background-color: #1a1a1a;color: white;text-align: center;justify-content: center;align-items: center;height: 45px;gap: 45px;margin-top: -10px;">
                <h4 class="type" style="font-weight: 500;">Insurance Type : Home</h4>
                <h4 class="amount" style="font-weight: 500;">Amount : </h4>
            </div>
            <h3 class="title" style="margin-top: 15px;text-align: center;">Want to edit your templates?</h3>
            <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis odit totam in, provident porro non expedita voluptas tempore culpa magnam corrupti, necessitatibus deserunt nam, velit sed! Aperiam nemo neque vitae!</p>
        </div>
    </div>
    <div class="login-wrapper">
        <div class="main">
            <h2 style="position: absolute;top: 20px;right: 20px;color: black;z-index: 100;font-size: 15px;" onclick="closeLogin()"><i class="fa-solid fa-x"></i></h2>
            <img src="{% static 'images/66841-medicine-capsule.gif' %}" alt="" style="width: 80px;transform: rotate(90deg); margin-bottom: 28px;">
            <h1 style="color: black;">Signin</h1>
            <p>Login into your account now</p>
    
            <div class="inputs">
                <input type="text" placeholder="username" class="userName" style="margin-bottom: 10px;"><br>
                <input type="password" placeholder="password" class="password"><br>
            </div>
            <p style="display: none;justify-content: center;align-items: center;width: 100%;margin-top: 25px;opacity: 1;margin-bottom: 10px;" class="error">Invalid login credentials</p>

            <button onclick="sendData()">Login into my account</button>
        </div>
    </div>

    <div class="signup-wrapper">
        <div class="main" style="width: 250px;">
            <h2 style="position: absolute;top: 20px;right: 20px;color: black;font-size: 15px;" onclick="closeSignup()"><i class="fa-solid fa-x"></i></ion-icon></h2>
            <img src="{% static 'images/66841-medicine-capsule.gif' %}" alt="" style="width: 80px;transform: rotate(90deg); margin-bottom: 28px;">
            <h1  style="color: black;">Signup</h1>
            <p>Create your new account now</p>
    
            <div class="inputs inps">
                <input type="text" placeholder="username" class="username1 username" oninput="checkUsername()"><br>
                <input type="number" placeholder="phone number" class="phone">
                <input type="email" placeholder="email address" class="email1"><br>
                <input type="text" placeholder="Address" class="address"><br>

                <input type="password" placeholder="password" class="password1"><br>
            </div>
            <p style="margin-top: -7px;color: rgb(9, 9, 9);opacity: 0.7;width: 100%;text-align: center;display: none;font-size: 15px;justify-content: center;align-items: center;margin-bottom: 15px;" class="err2">Username already exists</p>

            <button onclick="checkSignup()">Create a new account account</button>
        </div>
    </div>

    <div class="policy">
        <form class="main" style="width: 360px;" action="{% url 'createPolicy' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 style="position: absolute;top: 20px;right: 20px;color: black;font-size: 15px;" onclick="closeSignup()"><i class="fa-solid fa-x"></i></ion-icon></h2>
            <img src="{% static 'images/66841-medicine-capsule.gif' %}" alt="" style="width: 80px;transform: rotate(90deg); margin-bottom: 28px;">
            <h1  style="color: black;">Policy</h1>
            <p>Create your new policy now</p>
            <img src="{% static 'images/about-2.jpg' %}" alt="" style="width: 100%;height: 190px;object-fit: cover;">
            <input type="file" name="image" id="" required style="margin-top: 15px;margin-bottom: 15px;width: 90%;">
            <div class="inputs inps">
                <input type="text" placeholder="Policy name" name="policy_name" required><br>
                <input type="text" placeholder="Policy description" name="policy_desc" required>
                <div style="display: flex;gap: 10px;">

                    <select name="policy_type" required>
                        <option value="">-- Select Policy Type --</option>
                        <option value="Auto">Auto</option>
                        <option value="Home">Home</option>
                        <option value="Health">Health</option>
                        <option value="Life">Life</option>
                    </select>
                    <input type="number" name="policy_amount" placeholder="Policy Amount" required min="500">
                </div>
                <!-- <input type="text" placeholder="Address" class="address"><br> -->

                <!-- <input type="password" placeholder="password" class="password1"><br> -->
            </div>
            <p style="margin-top: -7px;color: rgb(9, 9, 9);opacity: 0.7;width: 100%;text-align: center;display: none;font-size: 15px;justify-content: center;align-items: center;margin-bottom: 15px;" class="err2">Username already exists</p>

            <button type="submit">Create policy</button>
        </form>
    </div>

    <div class="upload-bill">

        <form method="POST" action="{% url 'uploadBill' %}">
            {% csrf_token %}
            <h4 onclick = "closeUpload()" style="position: absolute;top: 15px;right: 15px;width: 30px;height: 30px;border-radius: 100px;background-color: rgb(188, 43, 43);color: white;display: flex;justify-content: center;align-items: center;cursor: pointer;"><i class="fa-solid fa-xmark"></i></h4>
            <h3 style="margin-top: 25px;">Upload Medical Bill</h3>
            <p>Enter the details below</p>

            <h2 style="margin-top: 25px;">Patient Information</h2>
            <div class="group" style="padding-right: 150px;width: 96%;">
                <input type="text" id="name" name="name" placeholder="Name" required><br>
                <input type="text" id="address" name="address" placeholder="Address" required><br>

            </div>
            <div class="group" style="padding-right: 150px;width: 96%;">

                <input type="date" id="dob" name="dob" placeholder="Date of Birth" required><br>
                <input type="text" id="ins-policy" name="ins-policy" placeholder="Insurance Policy Number" required><br>
            </div>

            <h2>Provider Information</h2>
            <div class="group" style="padding-right: 150px;width: 96%;">
                <input type="text" id="prov-name" name="prov-name" placeholder="Name" required><br>
                <input type="text" id="prov-address" name="prov-address" placeholder="Address" required><br>

            </div>
            <input type="text" id="prov-npi" name="prov-npi" placeholder="NPI Number" required><br>

            <h2>Treatment Details</h2>
            <input type="date" id="date-of-service" name="date-of-service" placeholder="Date of Service" required><br>
            <input type="text" id="service-desc" name="service-desc" placeholder="Service Description" required><br>
            <div class="group" style="padding-right: 150px;width: 96%;">

                <input type="text" id="service-code" name="service-code" placeholder="Procedure Code" required><br>
                <input type="text" id="diagnosis-code" name="diagnosis-code" placeholder="Diagnosis Code" required><br>
            </div>
            <input type="text" id="charge" name="charge" placeholder="Charge" required><br>

            <h2>Payment</h2>
            <input type="number" id="total-due" name="total-due" placeholder="Total Amount Due" required min="1000"><br>
            <!-- <input type="text" id="ins-payment" name="ins-payment" placeholder="Insurance Payment"><br> -->
            <!-- <input type="text" id="patient-responsibility" name="patient-responsibility" placeholder="Patient Responsibility"><br> -->
            
            <input type="submit" value="Submit" style="background-color: #138f82;color: white;width: 94.5%;">
        </form>

    </div>

    <div class="view-bill">

        <form method="POST" action="{% url 'uploadBillInsurance' %}">
            {% csrf_token %}
            <h4 onclick = "closeView()" style="position: absolute;top: 15px;right: 15px;width: 30px;height: 30px;border-radius: 100px;background-color: rgb(188, 43, 43);color: white;display: flex;justify-content: center;align-items: center;cursor: pointer;"><i class="fa-solid fa-xmark"></i></h4>
            <h3 style="margin-top: 25px;" >Medical Bill Details</h3>
            <p class="det">Enter the details below</p>

            <h2 style="margin-top: 25px;">Patient Information</h2>
            <div class="group" style="padding-right: 150px;width: 96%;">
                <input type="text" id="name" name="name" placeholder="Name" class="name" ><br>
                <input type="text" id="ins-policy" name="ins-policy" placeholder="Insurance Policy Number"  class="ipn"><br>
                
            </div>
            <input type="text" id="address" name="address" placeholder="Address"  class="ua"><br>
            

            <input type="text" id="dob" name="dob" placeholder="Date of Birth"  class="ud"><br>
            

            <h2>Insurance Provider Information</h2>
            <div class="group" style="padding-right: 150px;width: 96%;">
                <input type="text" id="prov-name" name="prov-name" placeholder="Name"  class="pn"><br>
                <input type="text" id="prov-address" name="prov-address" placeholder="Address"  class="pa"><br>

            </div>
            <input type="text" id="prov-npi" name="prov-npi" placeholder="NPI Number"  class="npi"><br>

            <h2>Treatment Details</h2>
            <input type="text" id="date-of-service" name="date-of-service" placeholder="Date of Service"  class="td"><br>
            <input type="text" id="service-desc" name="service-desc" placeholder="Service Description"  class="tdesc"><br>
            <div class="group" style="padding-right: 150px;width: 96%;">

                <input type="text" id="service-code" name="service-code" placeholder="Procedure Code"  class="pd"><br>
                <input type="text" id="diagnosis-code" name="diagnosis-code" placeholder="Diagnosis Code"  class="dc"><br>
            </div>
            <input type="text" id="charge" name="charge" placeholder="Charge"  class="ch"><br>

            <h2>Payment</h2>
            <input type="number" id="total-due" name="total-due" placeholder="Total Amount Due" min="1000"  class="due"><br>
            {% if profile.is_an_insurance_company %}
            <input type="number" id="ins-payment" name="insAmt" placeholder="Insurance Payment" required min="50000" class="insAmtInpt" style="pointer-events: all;"><br>
            {% endif %}
            <input type="text" id="ins-payment" name="iinn" placeholder="Insurance Payment" min="50000" class="insAmtDisp" style="display: flex;margin-top: -10px;"><br>

            <!-- <input type="text" id="patient-responsibility" name="patient-responsibility" placeholder="Patient Responsibility"><br> -->
            <input type="hidden" name="pk" class="pk">
            {% if profile.is_an_insurance_company %}
            <input type="submit" value="Approve Medical Bill" style="background-color: #138f82;color: white;width: 94.5%;border: none;pointer-events: all;cursor: pointer;" class="approve">
            {% endif %}
        </form>

    </div>

    <div class="container">
            <div class="nav-wrapper">
                <div class="nav1">
                    <img src="{% static 'images/logo.png' %}" alt="">
                    {% if request.user.is_authenticated %}
                    <input type="search" placeholder="search bill here" class="search" style="font-weight: 600;opacity: 0;">
                    <h3 style="cursor: pointer;opacity: 0;" onclick="search()"><i class="fa-solid fa-arrow-right"></i></h3>
                    {% else %}
                    <input type="search" placeholder="search bill here" class="search" style="font-weight: 600;opacity:0;pointer-events:none">
                    <h3 style="cursor: pointer;opacity:0;pointer-events:none" onclick="search()"><i class="fa-solid fa-arrow-right"></i></h3>
                    {% endif %}
                </div>
                <div class="nav2">
                    <a href="{% url 'homepage' %}" style="text-decoration: none;color: black;"><h3>Home</h3></a>
                    <!-- <h3>About</h3> -->
                    {% if request.user.is_authenticated %}
                    <h3>Policies</h3>
                    {% endif %}
                    <!-- <h3>Blog</h3> -->
                    {% if profile.is_a_hospital %}
                    <h3 onclick="showUpload()">Upload Bill</h3>
                    {% endif %}
                </div>
                <div class="nav3">
                    <h3 style="font-weight: 300;font-size: 14px;"><i class="fa-solid fa-phone" style="color: #138f82;"></i> +(111)65 458 856</h3>
                    {% if not request.user.is_authenticated %}
                    
                    
                    <h2 style="border-radius: 5px;" onclick="showLogin()"><i class="fa-solid fa-right-to-bracket"></i> Login</h2>
                    {% else %}
                    
                    <a href="{% url 'logout' %}" style="text-decoration: none;"><h2 style="border-radius: 5px;"><i class="fa-solid fa-right-to-bracket"></i> Logout</h2></a>

                    {% endif %}
                    <!-- <h1><i class="fa-solid fa-bars-staggered"></i></h1> -->
                </div>
            </div>
            <div class="banner-wrapper" style="height: 350px;">
            <div class="banner" style="display: flex;justify-content: center;align-items: center;">
                <center>

                    <h1 style="margin-top: 150px;text-transform: uppercase;font-size: 40px;">Policies</h1>
                    <p style="margin-top: 5px;font-weight: 500;">Discover new polcies by various inurance companies</p>
                </center>
                        <!-- <p style="font-size: 16px;line-height: 35px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed placerat elementum. Urna eu et purus et mi sit rhoncus. Id nisl quis arcu nulla leo nulla cras justo consectetur adipiscing elit.</p> -->
                        <img src="{% static 'images/shape-5.png' %}" alt="" style="position: absolute;width: 250px;top: -250px;left: 0px;z-index: 0;opacity: 0.5;">
                        <!-- <img src="{% static 'images/shape-3.png' %}" alt="" style="position: absolute;bottom: -550px;left: 600px;width: 80px;"> -->
                        
                        <img src="{% static 'images/shape-5.png' %}" alt="" style="position: absolute;width: 250px;top: -250px;right:  0px;z-index: 0;opacity: 0.5;">
                    </div>
            <!-- <img src="{% static 'images/banner-img.png' %}" alt=""> -->
            </div>
            <div class="card-wrapper" style="height: fit-content;">
                <h3>BROWSE POLICIES</h3>
                <h1 id="head" style="font-weight: 500;color: rgb(39, 39, 39);font-size: 25px;text-transform: uppercase;">Policies for you</h1>
                <div class="" style="display: flex;justify-content: center;align-items: center;width: 100%;gap: 25px;margin-top: 40px;flex-wrap: wrap;padding-bottom: 50px;">
                    {% for policy in policies %}
                    <div class="card" style="width: 350px;padding: 8px;">
                        <img src="{{policy.image.url}}" alt="" style="width:350px;height: 200px;object-fit: cover;">
                        <h3  style="margin-top: 0px;padding: 10px;color: #1a1a1a;font-weight: 600;">{{policy.name}}</h3>
                        <h3 style="margin-top: -5px;padding: 4px;font-size: 13px;font-weight: 600;margin-left: 7px;">uploaded by : {{policy.user.username}}</h3>
                        <p style="margin-top: 0px;height: 40px;overflow: hidden;text-align: justify;padding: 10px;font-weight: 500;">{{policy.description}}</p>
                        <button style="background-color: #119888;color: white;width: 100%;padding: 8px;border-radius: 5px;border: none;outline: none;font-size: 15px;margin-top: 25px;cursor: pointer;" onclick="showAd('{{policy.pk}}')">View policy</button>
                    </div>
                    {% endfor %}
                </div>
            </div>    
           

    </div>

    <script src="{% static 'js/index.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <script>
      function sendData(){
          
          var data = new FormData()
    
          data.append("username", document.querySelector('.userName').value)
          data.append("password", document.querySelector('.password').value)
    
          
    
          data.append("csrfmiddlewaretoken",'{{ csrf_token }}')
          
          $.ajax({
    
              method:"POST",
              url:'/checkLogin/',
              processData:false,
              contentType:false,
              // MimeType:"multipart/form-data",
              data:data,
              success:function(res){
                  localStorage.setItem("message",res.message)
    
                  if(res.message === 0){
                      
                      login(data)
                      localStorage.setItem("username",document.querySelector('.userName').value)
                      localStorage.setItem('password',document.querySelector('.password').value)
                      // location.reload();
                      
                  }
                  else{
                      document.querySelector('.error').style.display = "flex"
                      
                  }
                  
    
              }
          })
      }
    
      function login(data){
    
    
          $.ajax({
    
              method:"POST",
              url:'/login/',
              processData:false,
              contentType:false,
              MimeType:"multipart/form-data",
              data:data,
              success:function(res){
                  console.log("it worked :)")
                  
                  setTimeout(()=>{
    
                      location.reload();
                  },1000)
              }
              })
      }
    
      function signup(data){
          console.log("888888888");
          $.ajax({
    
              method:"POST",
              url:'/register/',
              processData:false,
              contentType:false,
              MimeType:"multipart/form-data",
              data:data,
              success:function(res){
                  
                  setTimeout(()=>{
    
                      location.reload();
    
                  },1000)
              }
              })
    
      }
    
      function checkSignup(){
          var data = new FormData()
    
          data.append("username", document.querySelector('.username1').value)
          data.append("email", document.querySelector('.email1').value)
          data.append("password", document.querySelector('.password1').value)
          data.append("phone", document.querySelector('.phone').value)
          data.append("address", document.querySelector('.address').value)
          data.append("csrfmiddlewaretoken",'{{ csrf_token }}')
        //   var error = 0
        //   var validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
        //   if (document.querySelector('.email1').value.match(validRegex)) {
        //                       document.querySelector('.err2').style.display = "none"
        //                     //   document.querySelector('.email1').style.border = "2px solid red"
        //                       // alert("Valid email address!");
        //                      error = 0
        //                       console.log("");

    
        //                       document.querySelector('.email1').style.border = "1px solid rgb(228, 228, 228)"
        //                   } else {
        //                     document.querySelector('.email1').style.border = "2px solid red"
        //                     error = 1
                              
    
        //                   }
          
          $.ajax({
    
              method:"POST",
              url:'/checkSignup/',
              processData:false,
              contentType:false,
              // MimeType:"multipart/form-data",
              data:data,
              success:function(res){
                  // localStorage.setItem("message",res.message)
    
                  if(res.message === 0){
                      
    
                          // alert("Valid email address!");
                          
                          
    
                          if (document.querySelector('.username1').value == "") {
    
    // alert("Valid email address!");
                          error = 1
                          document.querySelector('.username1').style.border = "2px solid red"
                          document.querySelector('.err2').style.display = "none"
    
    
                          } else {
                            document.querySelector('.username1').style.border = "1px solid rgb(228, 228, 228)"
                              console.log("");
                              error = 0
    
                          }
    
                          if (document.querySelector('.phone').value == "") {
    
    // alert("Valid email address!");
                          error = 1
                          document.querySelector('.phone').style.border = "2px solid red"
                          document.querySelector('.err2').style.display = "none"
    
    
                          } else {
                            document.querySelector('.phone').style.border = "1px solid rgb(228, 228, 228)"
                              console.log("");
                              error = 0
    
                          }
    
                          if (document.querySelector('.address').value == "") {
    
    // alert("Valid email address!");
                          error = 1
                          document.querySelector('.address').style.border = "2px solid red"
                          document.querySelector('.err2').style.display = "none"
    
    
                          } else {
                            document.querySelector('.address').style.border = "1px solid rgb(228, 228, 228)"
                              console.log("");
                              error = 0
    
                          }
    
                          if (document.querySelector('.password1').value == "" ) {
    
                            //   alert("please fill the password!");
                              document.querySelector('.password1').style.border = "2px solid red"
                              error = 1
                              } 
                              
                              else if(document.querySelector('.password1').value.length < 7){
    
                              alert("password length must be greater than 7");
                              document.querySelector('.password1').style.border = "2px solid red"
                              error = 1
    
    
                              }
    
                              else{
                                document.querySelector('.password1').style.border = "1px solid rgb(228, 228, 228)"
                                  error = 0
                                  
                              }
    
                              
                          
    
                      
                      
                      // localStorage.setItem("username",document.querySelector('.username').value)
                      // localStorage.setItem('password',document.querySelector('.password').value)
                      // location.reload();
                      
                  }
                  else{
                      
    
                      document.querySelector('.err2').style.display = "flex"
    
                  }

                  var validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
    
                          if (document.querySelector('.email1').value.match(validRegex)) {
                              document.querySelector('.err2').style.display = "none"
                            //   document.querySelector('.email1').style.border = "2px solid red"
                              // alert("Valid email address!");
                              error = 0
                              console.log("");

    
                              document.querySelector('.email1').style.border = "1px solid rgb(228, 228, 228)"
                          } else {
                            document.querySelector('.email1').style.border = "2px solid red"
                            error = 1
                              
    
                          }
    
                  if(error == 0){
                                  signup(data)
                              }
                  
    
              }
          })
      }
    
      function showUpload(){
        document.querySelector('.upload-bill').style.display = "flex"
        document.querySelector('.body').style.overflowY = "hidden"
      }

      function closeUpload(){
        document.querySelector('.upload-bill').style.display = "none"
        document.querySelector('.body').style.overflowY = "scroll"
      }

      function closeView(){
        document.querySelector('.view-bill').style.display = "none"
        document.querySelector('.body').style.overflowY = "scroll"
      }
      
      
      function search(){
        var data = new FormData()
    
          data.append("bill", document.querySelector('.search').value)
       
    
          
    
          data.append("csrfmiddlewaretoken",'{{ csrf_token }}')
          
          $.ajax({
    
              method:"POST",
              url:'/getBill/',
              processData:false,
              contentType:false,
              // MimeType:"multipart/form-data",
              data:data,
              success:function(res){
                   if(res.found == "1"){
                    document.querySelector('.body').style.overflowY = "hidden"
                  document.querySelector('.view-bill').style.display = "flex"
                  document.querySelector('.name').value = res.name
                  document.querySelector('.ua').value = res.address
                  document.querySelector('.ud').value = res.date
                  document.querySelector('.ipn').value = res.ipn
                  document.querySelector('.det').innerText = res.ipn + " Medical Bill details"
                  document.querySelector('.pn').value = res.InsName
                  document.querySelector('.pa').value = res.InsAdd
                  document.querySelector('.npi').value = "NPI :"+res.Npi
                  document.querySelector('.td').value = res.serviceDate
                  document.querySelector('.tdesc').value = res.desc
                  document.querySelector('.pd').value = res.pcode
                  document.querySelector('.dc').value = res.dcode
                  document.querySelector('.ch').value = res.charge
                  document.querySelector('.due').placeholder ="Due Amount : " + res.amount
                  document.querySelector('.due').value =res.amount
                  document.querySelector('.pk').value = res.pk
                  document.querySelector('.insAmtDisp').placeholder = "Claimed Insurance Amount : " + res.insAmt

                  if (res.insAmt == "0"){
                    document.querySelector('.insAmtInpt').style.display = "flex"
                    document.querySelector('.insAmtDisp').style.display = "none"
                  }
                  else{
                    document.querySelector('.insAmtInpt').style.display = "none"
                    document.querySelector('.approve').style.display = "none"
                    document.querySelector('.insAmtDisp').style.display = "flex"
                    document.querySelector('.insAmtDisp').placeholder = "Claimed Insurance Amount : " + res.insAmt
                  }
                }
                else{
                    alert("Medical Bill Not Found")
                }
                
              }
          })
      }
      

      function checkUsername(){
        var data = new FormData()

            data.append("username", document.querySelector('.username').value)
            data.append("csrfmiddlewaretoken",'{{ csrf_token }}')
            $.ajax({

                method:"POST",
                url:'/checkSignup/',
                processData:false,
                contentType:false,
                MimeType:"multipart/form-data",
                data:data,
                success:function(res){

                    
                    if(res.message == "1"){
                        document.querySelector('.err2').style.display = "flex"
                        error = 1
                        // document.querySelector('.check').value = ""
                        // document.querySelector('.next').style.opacity = "0.5"
                        // document.querySelector('.next').style.pointerEvents = "none"
                        
                    }
                    else{
                        document.querySelector('.err2').style.display = "none"
                        // document.querySelector('.check').value = "1"
                        error = 0
                    }

                }
                })
      }


      function showAd(pk){
            var data = new FormData()

            data.append("pk", pk)
            // data.append("password", document.querySelector('.password').value)

            

            data.append("csrfmiddlewaretoken",'{{ csrf_token }}')
            
            $.ajax({

                method:"POST",
                url:'/getPolicy/',
                processData:false,
                contentType:false,
                // MimeType:"multipart/form-data",
                data:data,
                success:function(res){
                   
                    document.querySelector('.ad-view').style.display = "flex"
                    document.querySelector('.title').innerText = res.title
                    document.querySelector('.desc').innerText = res.desc
                    document.querySelector('.adImg').src = res.image
                    document.querySelector('.body').style.overflowY = "hidden"
                    document.querySelector('.type').innerText = "Insurance Type : "+ res.type 
                    document.querySelector('.amount').innerText = "Amount : "+res.amount
                }
            })
        }
        
        function closeAd(){
            document.querySelector('.ad-view').style.display = "none"
            document.querySelector('.body').style.overflowY = "scroll"
        }
    
    
    </script>
</body>
</html>